{% extends 'lifescheme/html/base_template.html' %}

{% block SITE_TITLE_TEXT %}Home{% endblock SITE_TITLE_TEXT %}

{% block HEAD_EXTRA %}
  <style>
    .content-wrapper {
      padding: 30px 15px 0 15px;
    }

    @media(min-width: 768px) {
      .content-wrapper {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        padding: 50px 0 0 0;
      }
    }
  </style>
{% endblock HEAD_EXTRA %}

{% block MAIN_CONTENT %}
  <div class="content-wrapper">
    {% if user.is_authenticated %}
      <h3>USER: {{ user.username }}</h3>
    {% else %}
      <h3>USER: Anonymous</h3>
    {% endif %}
  </div>
{% endblock MAIN_CONTENT %}
