{% extends 'lifescheme/html/base_template.html' %}

{% block SITE_TITLE_TEXT %}Account creation success{% endblock SITE_TITLE_TEXT %}

{% block HEAD_EXTRA %}
  <style>
    .content-wrapper {
      padding: 30px 15px 0 15px;
    }

    @media(min-width: 768px) {
      .content-wrapper {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        padding: 50px 0 0 0;
      }

      .form__msg-wrapper {
        font-size: 1.2rem;
        width: 50%;
        padding: 40px 20px;
      }
    }
  </style>
{% endblock HEAD_EXTRA %}

{% block MAIN_CONTENT %}
  <div class="content-wrapper">
    {% include 'accounts/message_plugin.html' %}
  </div>
{% endblock MAIN_CONTENT %}
