{% extends 'lifescheme/html/base_template.html' %}

{% load static %}

{% block SITE_TITLE_TEXT %}Home{% endblock SITE_TITLE_TEXT %}

{% block HEAD_EXTRA %}
  <link rel="stylesheet" href="{% static 'scheduler/css/main.8f2cbe9a.chunk.css' %}">
  <style>
    .root {
      display: flex;
    }
  </style>
{% endblock HEAD_EXTRA %}

{% block MAIN %}
  <div id="root" class="root"></div>
{% endblock MAIN %}

{% block JS_EXTRA %}
  <script src="{% static 'scheduler/js/2.64e784ef.chunk.js' %}"></script>
  <script src="{% static 'scheduler/js/3.3fdc493b.chunk.js' %}"></script>
  <script src="{% static 'scheduler/js/main.916afeb9.chunk.js' %}"></script>
  <script src="{% static 'scheduler/js/runtime-main.e56606d0.js' %}"></script>
{% endblock JS_EXTRA %}
